# PyTorch
torch
torchvision

# Math and plots
numpy
matplotlib
scipy
emcee
corner

# Gravitational wave noise and Quasi-Normal Modes
bilby
qnm

# Normalizing Flows
nflows

# Data format
h5py

# Utility
PyYAML